@page "/"
@using Icon = Blazorise.Icon

<div class="Card">
    <div class="Meta">
        <div class="MetaDescriptions">
            <span class="Heading">Stefan Schranz</span>
            <span class="Description">
                Software Development | Cloud Architecture | Knowledge Sharing
            </span>
            <div class="QuickAboutMe">
                <span>Hello👋</span>
                <span>Thanks for stumbling onto my portfolio page. If you are interested in my persona, I invite you to learn about me, my skillset and my projects. Feel free to reach out to me through my social media links.</span>
            </div>
            <div class="InfoSection">
                <span class="InfoRow">
                    <span>
                        <Icon
                            Name="@("fa-thumbtack")"
                            IconSize="IconSize.Large">
                        </Icon>
                        <span>Location</span>
                    </span>
                    <span>Kirchheim unter Teck, Germany</span>
                </span>
                <span class="InfoRow">
                    <span>
                        <Icon
                            Name="@("fa-building")"
                            IconSize="IconSize.Large">
                        </Icon>
                        <span>Workplace</span>
                    </span>
                    <a href="https://www.sii-group.com">@@SII Technologies</a>
                </span>
                <span class="InfoRow">
                    <span>
                        <Icon
                            Name="@("fa-calendar")"
                            IconSize="IconSize.Large">
                        </Icon>
                        <span>Age</span>
                    </span>
                    <span>@Age</span>
                </span>
                <span class="InfoRow">
                    <span>
                        <Icon
                            Name="@("fa-book")"
                            IconSize="IconSize.Large">
                        </Icon>
                        <span>YOE</span>
                    </span>
                    <span>@YOE</span>
                </span>
                <span class="InfoRow">
                    <span>
                        <Icon
                            Name="@("fa-wrench")"
                            IconSize="IconSize.Large">
                        </Icon>
                        <span>Tech</span>
                    </span>
                    <span>C# & TS</span>
                </span>
            </div>
        </div>
        <div class="ProfilePicture"/>
    </div>
</div>